:root {
  --primary-color: #10B981;
}

.App {
  display: grid;
  place-items: center;
  min-height: 100vh;
  background-color: whitesmoke;
}

.OTPVerificationButton {
  border-radius: 0.5rem;
  padding: 1rem 2.5rem;
}

.main {
  width: 90%;
  max-width: 600px;
  text-align: center;
}